# Ignore node_modules, as they are installed within the Docker container
node_modules

# Ignore build output directory
dist
build

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore version control files
.git
.gitignore

# Ignore environment variables and local configs
.env
.env.local
.env.*.local

# Ignore logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
