# Docker Compose 파일의 버전을 명시합니다. '3.8'은 널리 쓰이는 안정적인 버전입니다.
version: '3.8'

# 서비스(컨테이너)들의 그룹을 정의합니다.
services:
  # 'frontend'라는 이름의 서비스를 정의합니다. (원하는 다른 이름으로 변경 가능)
  frontend:
    # 이 서비스로 실행될 컨테이너의 이름을 지정합니다.
    container_name: shorts-fe-app

    # 이미지를 빌드하는 방법을 정의합니다.
    build:
      # Dockerfile이 위치한 경로(build context)를 지정합니다. '.'은 현재 디렉토리를 의미합니다.
      context: .
      # 사용할 Dockerfile의 이름을 명시합니다.
      dockerfile: Dockerfile

    environment:
      VITE_API_URL: $VITE_API_URL
      
    # 포트 매핑을 설정합니다.
    # [호스트 PC의 포트]:[컨테이너의 포트]
    # 호스트 PC의 8080번 포트로 오는 요청을 컨테이너의 80번 포트로 전달합니다.
    ports:
      - "8080:80"

    # 컨테이너의 재시작 정책을 설정합니다.
    # 'unless-stopped'는 사용자가 명시적으로 중지하지 않는 한, 컨테이너가 비정상 종료되면 항상 재시작합니다.
    restart: unless-stopped
